@use "tailwindcss";

@theme {
  /*
   * -------------------------------------------------------------------------------------------------------------------
   * BRAND COLORS
   * -------------------------------------------------------------------------------------------------------------------
   */
  --color-primary: #3b82f6;
  --color-primary-light: #edf1fe;
  --color-secondary: #ffffff;

  /*
   * -------------------------------------------------------------------------------------------------------------------
   * NEUTRAL COLORS
   * -------------------------------------------------------------------------------------------------------------------
   */
  --color-gray-light: #f9fafb;
  --color-gray-medium: #e5e7eb;
  --color-gray-strong: #6b7280;
  --color-gray-dark: #333333;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-error: #f87171;

  /*
   * -------------------------------------------------------------------------------------------------------------------
   * FONT CONFIGURATION
   * -------------------------------------------------------------------------------------------------------------------
   */
  --text-size-root: 16px;
  --font-nunito: "Nunito Sans", sans-serif;

  /*
   * -------------------------------------------------------------------------------------------------------------------
   * HEADING SIZES
   * -------------------------------------------------------------------------------------------------------------------
   */
  --text-size-h1: calc(var(--text-size-root) * 2.8125); /*45px */
  --text-size-h2: calc(var(--text-size-root) * 2.375); /*38px */
  --text-size-h3: calc(var(--text-size-root) * 1.563); /*~25px */
  --text-size-h4: calc(var(--text-size-root) * 1.25); /*~20px */
  --text-size-h5: var(--text-size-root); /*16px */
  --text-size-h6: calc(var(--text-size-root) * 0.85); /*~13.6px*/

  /*
   * -------------------------------------------------------------------------------------------------------------------
   * PARAGRAPH AND BODY SIZES
   * -------------------------------------------------------------------------------------------------------------------
   */
  --text-size-body-large: 1.125rem; /*18px*/
  --text-size-body: 1rem; /*16px*/
  --text-size-body-small: 0.875rem; /*14px*/
  --text-size-body-xsmall: 0.75rem; /*12px*/
  --text-size-body-xxsmall: 0.625rem; /*10px*/

  /*
   * -------------------------------------------------------------------------------------------------------------------
   * LABELS AND UI TEXT
   * -------------------------------------------------------------------------------------------------------------------
   */
  --text-size-label-large: 0.875rem; /*14px*/
  --text-size-label: 0.75rem; /*12px*/
  --text-size-label-small: 0.625rem; /*10px*/
}
