@use './app/styles/tailwind-config.scss';
@use './app/styles/draggable.scss';

html,
body {
  background-color: var(--color-gray-light);
}

body {
  font-family: var(--font-nunito);
}

@for $i from 1 through 6 {
  h#{$i} {
    color: var(--color-gray-dark);
    font-size: var(--text-size-h#{$i});
    font-weight: 900;
    letter-spacing: -0.025rem;
    line-height: 2.5rem;
  }
}

p,
input,
select,
select option:not([disabled]),
textarea {
  color: var(--color-gray-dark);
  font-size: var(--text-size-body);
}

input{
  @apply p-2 rounded-lg bg-white border border-gray-strong;
}

span,
label,
dt {
  color: var(--color-gray-dark);
  font-size: var(--text-size-body-small);
}

small,
dd {
  color: var(--color-gray-dark);
  font-size: var(--text-size-body-xsmall);
}

input::placeholder,
textarea::placeholder,
select::placeholder,
select option[disabled] {
  @apply text-gray-medium;
}

a:focus,
input:focus,
textarea:focus,
select:focus,
button:focus {
  @apply focus:outline-none focus:border-2 focus:rounded-md focus:border-gray-strong
}
